# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build outputs
dist/

# Env files
.env
.env.local
backend/.env
frontend/.env

# OS/editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json



